# DB
DB_CONNECTION_STRING='postgresql://user:password@host:5432/db'

# CORE SERVICE
APP_PORT=8080
SHORTLY_BASE_URL='http://localhost:8080'
SHORTLY_TICKET_SERVICE_BASE_URL='http://localhost:5000'
SHORTLY_REDIRECTION_SERVICE_BASE_URL='http://localhost:8000'

# CORS
CORS_ORIGIN='http://localhost:3000'

# AUTH
BETTER_AUTH_URL='http://localhost:8080'
BETTER_AUTH_SECRET='your-better-auth-secret-here'

# GOOGLE OAUTH
OAUTH_GOOGLE_CLIENT_ID='your-google-client-id'
OAUTH_GOOGLE_CLIENT_SECRET='your-google-client-secret'

# TICKET SERVICE AUTH
TICKET_API_KEY='your-ticket-api-key-at-least-32-chars-long'

# OTEL
OTEL_SERVICE_NAME='short-url-api-service'
OTEL_EXPORTER_OTLP_ENDPOINT='http://localhost:4318'
LOG_LEVEL='info'

# METADATA
SERVICE_ID='short-url-api-service'
API_INSTANCE_CLIENT_ID='short-url-api-server-001'
