# DB
DB_CONNECTION_STRING='postgresql://user:password@host:5432/db'

# CORE SERVICE
APP_PORT=8000
SHORTLY_BASE_URL='http://localhost:8000'
SHORTLY_API_SERVICE_BASE_URL='http://localhost:8080/api/v1'

# TICKET SERVICE AUTH
TICKET_API_KEY='your-ticket-api-key-at-least-32-chars-long'

# OTEL
OTEL_SERVICE_NAME='short-url-redirection-service'
OTEL_EXPORTER_OTLP_ENDPOINT='http://localhost:4318'
LOG_LEVEL='info'

# METADATA
SERVICE_ID='short-url-redirection-service'
API_INSTANCE_CLIENT_ID='short-url-redirection-server-001'

# REDIS CACHE
REDIS_URL='redis://default:password@host:6379'
